/* You can add global styles to this file, and also import other style files */
.grande{
    color: pink;
    size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}